{% extends "base.html.twig" %}

{% block body %}

<body>
    <div class="container-fluid d-flex">
        <div class="row">
            <div class="col my-4 d-flex flex-column justify-content-center align-items-center">
                <h1>Titre de l'article</h1>
                <h3>Le chapo de l'article</h3>
                <p>Description complete de l'article Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                    assumenda sed praesentium deserunt perferendis necessitatibus ut fuga consectetur repudiandae. Hic,
                    iure! Harum dolores minima blanditiis minus vel quaerat reprehenderit nesciunt.</p>
            </div>
            <div class="col my-4">
                <img class="img-fluid" src="{{ root_directory~'/src/image/f1header.jpeg' }}" alt="">
            </div>
        </div>
    </div>
</body>

{% endblock body %}