{% extends "base.html.twig" %}

{% block body %}
<form method="post" action="?page=create">
    <label for="title">Titre :</label>
    <input type="text" id="title" name="title" required>

    <label for="chapo">Chapo :</label>
    <input type="text" id="chapo" name="chapo" >

    <label for="description">Description :</label>
    <input type="text" id="description" name="description" >

    <label for="image">Image :</label>
    <input type="file" id="image" name="image" accept="image/png, image/jpeg, image/jpg">

    <input type="submit" value="Valider">
</form>    
{% endblock body %}