{% extends "accueil.html.twig" %}

{% block footer %}
<footer>
    <div class="social">
        <ul class="social-ul">
            <li class="social-i fa-brands fa-instagram"><a class="social-a" href="https://www.instagram.com/">
                    Instagram</a></li>
            <li class="social-i fa-brands fa-twitter"><a class="social-a" href="https://twitter.com/home"> Twitter</a>
            </li>
            <li class="social-i fa-brands fa-steam"><a class="social-a" href="https://steamcommunity.com/id/ameyabis/">
                    Steam</a></li>
            <li class="social-i fa-brands fa-discord"><a class="social-a" href="https://discord.gg/VkTpUwPvGN">
                    Discord</a></li>
        </ul>
    </div>

    <div class="contact">
        <span>Contact</span>
    </div>
</footer>
{% endblock footer %}